{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-3 golder-color">Our Teammates</h1>
        <hr>
        <div class="d-flex flex-wrap mb-3">
            <div class= "p-2 order-1 col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header golder-background">
                      <h5 class="mb-0 text-center">
                         Namra Patel (Project Manager)
                      </h5>
                    </div>
                    <div class="card-body">
                        <img class="w-100" src="../static/images/Namra.jpg" alt="">
                    </div>
                    <div class="card-footer">
                        <p>
                            Education : Bacherlor's in Computer Engineering, Post Graduation in Artificial Intelligence
                        </p>
                        <p>
                            Experience : Full Stack Developer (2 Years)
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-2 order-1 col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header golder-background">
                      <h5 class="mb-0 text-center">
                         Tilak Pandya (Developer)
                      </h5>
                    </div>
                    <div class="card-body">
                        <img class="w-100" src="../static/images/Tilak.jpg" alt="">
                    </div>
                    <div class="card-footer">
                        <p>
                            Education : BCA & MCA, Post Graduation in Artificial Intelligence
                        </p>
                        <p>
                            Experience : Software Developer (1 Years)
                        </p>
                    </div>
                </div>   
            </div>
            <div class="p-2 order-1 col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header golder-background">
                      <h5 class="mb-0 text-center">
                        Ajay Maraviya (Data Analyst)
                      </h5>
                    </div>
                    <div class="card-body">
                        <img class="w-100" src="../static/images/Ajay.jpg" alt="">
                    </div>
                    <div class="card-footer">
                        <p>
                            Education : B.Tech in Computer Science
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-2 order-1 col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header golder-background">
                      <h5 class="mb-0 text-center">
                        Pankti Patel (Business Analyst)
                      </h5>
                    </div>
                    <div class="card-body">
                        <img class="w-100" src="../static/images/Pankti.jpg" alt="">
                    </div>
                    <div class="card-footer">
                        <p>
                            Education : Masters in mathematics
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-2 order-1 col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header golder-background">
                      <h5 class="mb-0 text-center">
                        Rupinderjeet kaur (Developer)
                      </h5>
                    </div>
                    <div class="card-body">
                        <img class="w-100" src="../static/images/Rupinder.jpg" alt="">
                    </div>
                    <div class="card-footer">
                        <p>
                            Education : Bachelor of computer applications
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center footer-background py-3">
        <p class="mt-3">&copy; 2023 @XYZ. All rights reserved.</p>
    </footer>
{% endblock %}